body{
  background: #fafafa;
  color: #333333;
/*  margin-top: 5rem;*/
}

h1, h2, h3, h4, h5, h6{
  color: #444444;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  margin-bottom: 20px;
}
.btnc{
  margin-top: 6px;
  margin-bottom: 4px;
}

.form-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  margin-bottom: 20px;

}
.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content{
  white-space: pre-line;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.hori{
  margin-top: 6px;
  /*padding-bottom: 5px;*/
}

/*.article-metadata{
  padding-bottom: 1px;
}
*/

.author{
  margin-right: 8px;
  font-weight: bold;
  
}

.btnsign{
  margin-left: 5px;
}
.new{
  
  margin-top: 12px;
  margin-bottom: 0px;
}

.side-bar {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 20px;
}

.side-bar a:hover{
  color: #333;
  text-decoration: none;
}

/*Inheriting Btn */
.outline {
    background-color: transparent;
    color: inherit;
    transition: all .25s;
}
.btn-primary.outline {
    color: #428bca;
}
.btn-success.outline {
    color: #5cb85c;
}
.btn-info.outline {
    color: #5bc0de;
}
.btn-warning.outline {
    color: #f0ad4e;
}
.btn-danger.outline {
    color: #d9534f;
}
.btn-primary.outline:hover,
.btn-success.outline:hover,
.btn-info.outline:hover,
.btn-warning.outline:hover,
.btn-danger.outline:hover {
    color: #fff;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}
.account-heading{
  font-size: 2.5rem;
}

.article-img{
  height: 50px;
  width: 80px;
  margin-right: 20px;
  margin-bottom: 16px;/
}
