{% extends 'blog/base.html' %}
{% block body_block %}
	{% for post in posts %}
		<article class="media content-section">
			<img class="img-circle article-img col-md-2" src="{{ post.author.profile.image.url }}">
			<div class="media-body">
				<div class="article-metadata">
					<a class="author " href="">{{ post.author }}</a>
					<small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
					<hr class="hori">
					
				</div>
				<h2><a href="{% url 'post-detail' post.id %}" class="article-title">{{ post.title }}</a></h2>
				<p class="article-content">{{ post.content }}</p>

			</div>
		</article>
		
	{% endfor%}
{% endblock %}